/* menu */

.menu {
	display: flex;
	background-color: #07333A;
	margin-bottom: 2rem;
	border-radius: 20px 0 20px 0 ;
}

.menu .menu_link {
	display: block;
	padding: 1rem 2rem;
	color: white;
	text-decoration: none;
}

.menu .menu_link:hover {
	background-color: #385b61;
	border-radius: 20px 0 20px 0 ;
}

.menu a.active {
	background-color: #385b61;
	border-radius: 20px 0 20px 0 ;
}

.title{
	margin-bottom: 2rem;
}
.logo{
	width: 4rem;
}
.titleName{
	font-family: 'Lobster', cursive;
	font-size: 4rem;
	padding: 1rem;

}
