*{
  box-sizing: border-box;
  
}

html {
  font-family: 'Open Sans', sans-serif;
  background-image: url(./images/pozadi.png);
  background-blend-mode: lighten;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
}

.error{
  width: 30rem;
  padding-top: 6rem;
}
